@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  font-family: "Inter", sans-serif;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  @media screen and (max-width: 1536px) {
    padding: 0 20px;
  }
}
